appdirs==1.4.3
Django==1.11.29
django-ckeditor==5.6.1
django-js-asset==1.1.0
djangorestframework==3.11.2
olefile==0.44
packaging==16.8
Pillow==6.2.0
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
XlsxWriter==1.0.5
mysqlclient