<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
</head>
<body>
	<form method="POST" action="/register/">
		{% csrf_token %}
		<p>Is payment present</p>
		yes: <input type="checkbox" name="yes"><br>
		date:<input type="date" name="date"><br>
		title: <input type="text" name="title"><br>
		<button type="submit">submit</button>
		{% if choice %}
			<p>Form created with payment with title: {{ title }}</p>
		{% else %}
			<p>Form created without payment with title: {{ title}}</p>
		{% endif %}
	</form>
</body>
</html>