{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>IG Connect | Password reset done</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="IG WebDev Team">
    <meta name="description" content="Innovation Garage NIT WARANGAL Website">
    <meta name="keywords" content="IG, Innovation Garage, NITW, IG NIT WARANGAL, IG Nitw">
    <script src="{% static 'main/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Space+Mono" rel="stylesheet">
    <link href = "{% static 'auth/login.css' %}" rel = "stylesheet">
</head>

<body>
    <div class='container-fluid' id="full-screen">
        <div class='row' style="height:10vh;">
            <div class='col-sm-4' style="background-color: RGBA(21, 26, 33, 1.00); padding-top: 1%; padding-left: 1%;">
            <span id='heading'><code>$ ./ig_connect</code></span>
            </div>
            <div class='col-sm-8' style="background-color: RGBA(0, 168, 122, 1.00);">
            </div>
        </div>

        <div class='row' style="height:90vh;">
            <div class='col-sm-4 left'>
                <h1 style="font-family: 'Space Mono', 'Open Sans'; font-weight: lighter; color: RGBA(255, 255, 255, 1.00);">Welcome</h1>
                <h4 style="font-family: 'Space Mono', 'Open Sans'; font-weight: lighter; color: RGBA(61, 66, 72, 0.8);">Forgot Password Completed</h4>
                <br>
                <p style="margin-top: 5%;">
                    <a href='/' class="btn btn-success" style="background-color: #00A87A; font-family: 'Roboto'; ">HOME</a>
                    &nbsp&nbsp
                    <a href='/auth/login' class="btn btn-success" style="background-color: #00A87A; font-family: 'Roboto'; ">LOGIN HERE</a>
                </p>
            </div>
            <div class='col-sm-8 right'>
            
                {% if error %}
                <div class="alert alert-danger alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{error}}</strong>
                </div>
                {% endif %}

                <h3>Your password has been set. You may go ahead and login now.</h3>
				  
				  
            </div>
        </div>
    </div>
</body>
</html>